header {
	border: 5px solid red;
	background-color: lightgrey;
	text-align: center;
}
.headerButtons button{
	color: white;
	border: solid green;
	border-color: rgb(23, 94, 28);
	background-color: rgb(79, 79, 79);
	text-align: center;
	text-decoration: none;
	padding: 15px 32px;
	position: relative;
  top: 41px;
  left: -258px;
}
.headerButtons button:hover{
	color: grey;
	border-color: rgb(50, 94, 50);
	background-color: rgb(0,0,0);
}
body{
	background-color: rgb(127, 144, 144, 0.7);
}
* {
	font-family: Arial;
}