
header {
	border: none;
	background-color: lightgrey;
	text-align: center;
	height: 128px
}
/*css for logo button that takes you back to main page*/

.homeLogo img{
	border: none;
	height: 128px;
	width: 128px;
	float: left;
}

/* css used for buttons on home page */
.headerButtons{
	float: left;
}
.headerButtons button{
	color: white;
	border: none;
	background-color: rgb(79, 79, 79);
	text-align: center;
	text-decoration: none;
	float: left;
}

.headerButtons button:hover{
	color: grey;
	background-color: rgb(0,0,0);
}

/* css used for projects page */

.projectSelectButtons{
	border: none;
	text-align: center;
	display: grid;
	grid-gap: 0px;
	grid-template-columns: repeat(2, 50%)
}

.projectSelectButtons img{
	transition: transform 0.1s;
	height: 50%;
	width: 50%;
}

.projectSelectButtons img:hover{
	transform: scale(1.1);
}


body{
	background-color: rgb(56, 56, 56, 0.7);
}

* {
	font-family: Monospace;
	margin: 0;
}